:root{

  --azul:#0076ff;
  --amarillo:rgba(248, 215, 9,0.9);
  --blanco:#D5E1FF;
  --verde:#00BEFD;
  --negro: #2f4a57;

}


*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type=text]{
  width: 100%;
  height: 45px;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text]:focus{
  border:solid 2px var(--verde);
}
.dropbtn {
  background-color: var(--azul);
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  margin-top: 4px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top:1px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--amarillo);}

.contenedor_articulo2{
  position: relative;
  height: auto;
  width: auto;
}
.contenedor_articulo2 #articulo_2{
  position: fixed;
  height: 500px;
  margin-left: 79%;
  width: 270px;
  background: #fff;
  margin-top: -400px;
}
.contenedor_articulo2 #articulo_2 img{
  position: fixed;
  height: 600px;
  width: 300px
}
#myInput {
  position: absolute;
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }
body{
	background: red;
}

.show {display: block;}

.wrap{

	width: 850px;
  padding: none;
  margin-top: 30px;
  margin-left: 17%;
  position: relative;
}

ul.tabs{
  position: fixed;
  margin-top: -30px;
	width: 1400px;
	background:var(--azul);
	list-style: none;
	display: flex;
  border-radius: 3px;
  margin-left: -235px;

}

ul.tabs li{
	width: 20%;
}

ul.tabs li a{

	color: #fff;
	text-decoration: none;
	font-size: 19px;
	text-align: center;
  display: block;
	padding: 20px 0px;
  font-family: arial,sans-serif;

}

.active{

	background: var(--amarillo);
}

ul.tabs  li a .tab-text{
	margin-left: 8px;

}

.secciones{


  text-align: center;
  z-index: -1;
  position:absolute;
	width: 130%;
	background: linear-gradient(to bottom, #ffffff 35%, #00ccff 100%);
  margin-top:100px;
  margin-left: -100px;

}
 .paquetes_guia{
  height:300px;
  width:300px;
  text-align: center;
 background-color:var(--verde);
  position:relative;
  display: inline-block;
  float:right;
  display:inline;
}
.secciones #tab3{
  position: relative;
  margin-left: 20%;
}

.secciones #tab1{

  position: relative;
  margin-left: 20%;
}
#tab1 .contenedor_inicio{

  position:static;
  padding: none;
  margin-top:200px;
  margin-left: -15%;
}
#tab1 .contenedor_inicio img{
  position: static;
}
#tab1 #titulo_tab1{
  height: 150px;
 text-align:justify;
 margin-left: 8%;
 top:50px;
 font-weight: 550;
 font-family: verdana;
 color : white;
}

.secciones article{
	padding: 20px;

}

.secciones article p{
	text-align: justify;
}
.secciones #tab1 h1{
position: absolute;
margin-left: 30%;
margin-top: 50px;
font-family: arial,sans-serif;
font-size: 40px;
font-weight: 100;
color:   #2f4a57;

}
.secciones #tab1 p{
text-align: center;
margin-top: 140px;
margin-left: 40%;
color:#2f4a57;
font-size: 20px;
font-weight: 600;
}
.secciones #tab1 #poster{
  position:absolute;
  width: 400px;
  height: 500px;
  margin-left: -10%;
  margin-top: 30px;
}
.secciones #tab1 #mapa_guia{
  width: 300px;
  height: 300px;
  margin-left: 40%;
  margin-top: -20px;
}
.secciones #tab1 #titulo_mapa{
  position: absolute;
  color: var(--azul);
  font-size: 50px;
  margin-top:-160px;
  margin-left: 50%;
  font-weight: 50;
}
.secciones #tab2 h1{
text-align: center;
position: absolute;
margin-left: 30%;
}
.secciones #tab2 h2{
  color:black;
  font-size: 50px;
  font-family:verdana;
}
.secciones #tab3 h1{
text-align: center;
position: absolute;
margin-left: 30%;
}
#tab3 #formulario2{
text-align: center;
position: absolute;
color: black;
}
#tab3 form{
  top:10px;
  position: relative;
  width: 700px;

}
form #tarea{
  width: 300px;
}

.secciones #tab4 h1{
  text-align: center;
  position: absolute;
  margin-left: 30%;
}
.secciones #tab4  #cambiar_info{
  margin-left: 25%;
  width: 500px;
  padding: 40px;
  height: 500px;
   background: linear-gradient(to bottom, #00ccff 0%, #ffffff 100%);
}
.secciones #tab4  #cambiar_info #boton1{

  background: var(--amarillo);
  margin: 5px;
  margin-top: 35px;
  height: 35px;
  width: 80px;
  padding: 5px;
}
.secciones #tab4  #cambiar_info #boton1:hover{
  background: var(--azul);
  transition: 1s;
}
.secciones #tab4  #cambiar_info .input{
  height: 20px;
  width: 200px;

}
@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
