/* declaración de colores de la pagina */
:root{

  --azul:#0076ff;
  --amarillo:rgba(248, 215, 9,0.9);
  --blanco:#D5E1FF;
  --verde:#00BEFD;
  --negro: #2f4a57;

}

/* diseño documento en general */

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* boton de salida o configuración */
.dropbtn {
  background-color: var(--azul);
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  margin-top: 4px;

}
/* le damos una posición al dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
/* caja del contenido
desplegable  */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top:1px;
}
/* etiquetas a que
encuentran dentro de la
caja desplegable */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* transiciones y efectos al pasar mouse */

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--amarillo);}

/* contenedor articulo  de contenidos*/

.contenedor_articulo2{
  position: fixed;
  height: auto;
  width: auto;
}
/* articulo principal  */
.contenedor_articulo2 #articulo_2{
  position: fixed;
  height: 500px;
  margin-left: 79%;
  width: 270px;
  background: #fff;
  margin-top: -400px;
}
/* imagen de articulo principal turista */
 .contenedor_articulo2 #articulo_2 img{
  position: fixed;
  height: 600px;
  width: 300px
}
/* segundo banner  */
#myInput {
  position: absolute;
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }
body{
	background:#ffffff ;
	font-family: 'Open sans';
}
/* mostrar en bloque */
.show {display: block;}
/* desplegable  */
.wrap{
  width: 850px;
  padding: none;
  margin-top: 80px;
  margin-left: 17%;
  position: relative;
}
/* mostrar en bloque */
ul.tabs{
  position: fixed;
  margin-top: -30px;
	width: 1400px;
	background:var(--azul);
	list-style: none;
	display: flex;
  border-radius: 3px;
  margin-left: -235px;


}
/* cada componente lista dropdown */
ul.tabs li{
	width: 20%;
}
/* cada link de menu desplegable dropdown */
ul.tabs li a{

	color: #fff;
	text-decoration: none;
	font-size: 19px;
	text-align: center;
  display: block;
	padding: 20px 0px;
  font-family: arial,sans-serif;

}
/* boton active que le da boton
a cada tab al dar click en
cualquiera de los elementos
de la barra de opciones */

.active{
	background: var(--amarillo);
}
/* contenedor de caja dropdown */
ul.tabs  li a .tab-text{
	margin-left: 8px;
}
/* secciones que contienen sub modulos */
.secciones{
	width: 120%;
	background: #61AAE2;
  margin-top:-50px;
  margin-left: -100px;


}
/* articulo dentro de las secciones
que tienen contenido */
.secciones article{
	padding: 30px;

}
/* parrafo general de las secciones */
.secciones article p{
	text-align: justify;
}
/* tab de inicio turista */
.secciones #tab1{
  background: #61AAE2;
}
/* segundo tab es decir paquetes  */
.secciones #tab2{
  background: #61AAE2;

}
/* tab 3 de favoritos */
.secciones #tab3{
  background: ;

}
/* tab 4 de cambiar información */
.secciones #tab4{
  background: #61AAE2;


}
/* caja de cambiar info tab 4 */
.secciones #tab4  #cambiar_info2{
margin-top: 100px;

}
/* tab 4 de cambiar info */
.secciones #tab4 {
  height: 570px;
}
/* botom formulario de tab 4
cambiar info submit */
.secciones #tab4 #boton_cambio{
  background: var(--amarillo);
  border-top:solid var(--amarillo);
  border-left:solid var(--amarillo);
  padding: 5px;
  border-radius: 10px;

}
/* botom formulario de tab 4
recet */

.secciones #tab4 #boton_cambio2{
  background: var(--amarillo);
  border-top:solid var(--amarillo);
  border-left:solid var(--amarillo);
  padding: 5px;
  border-radius: 10px;

}
/* boton submit hover */
.secciones #tab4 #boton_cambio:hover{
  transition: 1s;
  background: var(--verde);
  border-top:solid var(--verde);
  border-left:solid var(--verde);
}
/* hover botom submit tab 4 cambiar info */
.secciones #tab4 #boton_cambio2:hover{
  transition: 1s;
  background: var(--verde);
  border-top:solid var(--verde);
  border-left:solid var(--verde);
}
/* hover botom submit tab 4 recet */
.secciones #tab4 #cambiar_info2{
  background: #489cd3 ;
  padding: 30px;
  width: 500px;
  height: 500px;
  margin-top: 20px;
  margin-left: 25%;
  border-top: 10px solid var(--verde);
  border-bottom: 10px solid var(--verde);

}
/* diseño de input y select del tab 4 cambiar información  */
.secciones #tab4 #cambiar_info2 input,select{

  margin: 5px;
}
/* título de tab de inicio */
.secciones #tab1 h1{
position: absolute;
margin-left: 30%;
margin-top: 50px;
font-family: arial,sans-serif;
font-size: 40px;
font-weight: 100;
color:   #2f4a57;

}
/* parrafo tab de inicio */
.secciones #tab1 p{
text-align: center;
margin-top: 140px;
margin-left: 40%;
color:#2f4a57;
font-size: 20px;
font-weight: 600;
}

/* tab inicio pooster turista */
.secciones #tab1 #poster{
  position: absolute;
  width: 400px;
  height: 500px;
  margin-left: -10%;
  margin-top: 20px;
}
/* segundo pooster turista */
.secciones #tab1 #mapa_guia{
  width: 300px;
  height: 300px;
  margin-left: 40%;
  margin-top: -20px;
}
/* título del mapa turista */
.secciones #tab1 #titulo_mapa{
  position: absolute;
  color: var(--azul);
  font-size: 50px;
  margin-top:-160px;
  margin-left: 50%;
  font-weight: 50;
}
/* título de tab paquetes turista */
.secciones #tab2 h1{
text-align: center;
position: static;
margin-top:100px;
margin-left: 10%;
font-family: verdana;
font-size:50px;

}
/* diseño de iframe paquetes  */
.secciones #tab2 iframe{
  margin-left: 10%;
  width: 820px;

}
/* titulo de tab favoritos */
.secciones #tab3 h1{
text-align: center;
position:static;
margin-left: 5%;
font-family: verdana;
margin-top:40px;
}
/* titulo de tab cambiar información */
.secciones #tab4 h1{
  text-align: center;
  position: absolute;
  margin-left: 30%;
}

/* tamaño de thumnails   */
@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

 /* posicisión de tabs */
	ul.tabs li a .tab-text{
		display: none;
	}
  /* articulos de contenido */
	.secciones article{
		padding: 20px;
	}

 /* Podemos ver que empieza el footer */
  #footer{
    background:#1E67AB;
    padding: 0 0 30px 0;
    color: white;
    font-size: 14px;
  margin-top: 200px;

  }

/* este es la caja de contenido dentro del footer */
  #footer .footer-top{
    background: var(--azul);
    padding: 60px 0 30px 0;
  }
  /* caja de información dentro de la caja de
  contenido */
  #footer .footer-top .footer-info{
  margin-bottom: 30px;
  }
  /* textos de tipo h3 dentro del footer */
  #footer .footer-top .footer-info h3{
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 0 2px 0 2px;
    line-height: 1;
    font-family:arial,sans-serif;
    color:#fff;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;

  }
  /* parrafo de información dentro del footer */
  #footer .footer-top .footer-info p{
    font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: arial,sans-serif;
  color: #ecf5ff;
  }
  /* iconos social link */
  #footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    background: #466CFC;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  /* efecto hover en los iconos */
  #footer .footer-top .social-links a:hover{
    background: #0067d5;
    color: #fff;

  }
  /* textos h4 dentro del contenido footer
  en general */
  #footer .footer-top h4{
    font-size: 14px;
    font-weight: bold;
    color:#fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;

  }

  /* contenedor lista de links del sitio footer */
  #footer .footer-top .footer-links{
    margin-bottom:30px;
  }
  /* lista de links preferenciales */
  #footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  /* cada componente de la lista de links */
  #footer .footer-top .footer-links ul li{
    padding: 8px 0;

  }
  /* caja hija del footer */
  #footer .footer-top .footer-links ul li:first-child{
    padding-top: 0;
  }
  /* lista del links del sitio footer  */
  #footer .footer-top .footer-links ul a {
    color:#ecf5ff;
  }

 /* caja Información de contactos footer */
  #footer .footer-top .footer-contact{
    margin-bottom: 30px;
  }
  /* caja de  cajas de texto footer */
  #footer .footer-top .footer-newletter{
    margin-bottom: 30px;
  }
/* diseño de input de tipo email   */
  #footer .footer-top .footer-newletter input[type="email"]{
    border: 0
    padding:6px 8px;
    width: 65%;
  }
  /* input footer bajo */
  #footer .footer-top .footer-newletter input[type="submit"]{
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  }
  /* input suscripción footer */
  #footer .footer-top .footer-newletter input[type="submit"]:hover{
    background: #0062cc;
  }
  /* logo del footer de la pagina */
  #footer .container #logo_footer{
    height: 250px;
    width: 300px;


  }
 /* derechos de autor footer  */
  #footer .copyright{
    text-align: center;
    padding-top: 20px;
  }
  /* creditos dentro del footer
  en lista */
  #footer .credits{
    text-align: center;
    font-size: 13px;
    color:#f1f7ff;
    position: fixed;
  }
  /* links de creditos */
  #footer .credits a {
    color: #bfddfe;
  }
  /* hover de cada credito */
  #footer .credits a:hover{
    color: #f1f7ff;
  }
  /* inicio del banner turista */
  #tab1 .banner_turista{
    width: 900px;
    height: 200;
  }

  /*  empi   */
  .w3-row-padding img {margin-bottom: 12px;}
/*
Establece el ancho de la barra lateral en 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Agregue un margen izquierdo al "contenido de la página" que coincida con el ancho de la barra lateral (120 px) */
#main {margin-left: 120px}
/*
contenido de la página "en pantallas pequeñas */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
